
body {
     background-color: rgb(176, 206, 230);
 }
 .center-container{
    text-align: center;
 }
h1,h2,h3{
    display: inline-flex;
    align-items: center;
    text-align: center;
    background-color: white;
    color: blue;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 5px 5px 10px rgba( 0, 0, 0, 0.3) 
}
.image-container {
    position: relative;
    align-items: center;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image {
    position: absolute;
    width: 80%;
    height: auto;
    display: block;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    border: 3px solid black;
    border-radius: 8px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
}
@keyframes fadeInOut {
    0%,100% { opacity: 0;}
    50% { opacity: 1;}
}
.one {
    animation: fadeInOut 4s infinite ;
    animation-delay: 2s;
}

.two {
    animation: fadeInOut 4s infinite ;
}
.navbar{
display:flex;
justify-content: center;
align-items: center;
background-color: white;
}
.navbar a{
    padding: 10px 15px;
    color: darkblue
}
table {
    border: 2px solid black;
    width: 80%; 
    box-shadow: 3px 3px 8px rgba( 0, 0, 0, 0.2);
    border-collapse: collapse;
}

th, td {
    border: 1px solid black; 
    padding: 10px; 
    text-align: center; 
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column; 
    max-width: 400px; 
    margin: 20px 
}

input {
    margin-bottom: 10px 0; 
    padding: 8px; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    font-size: 16px;
}

input[type="submit"] {
    background-color: blue; 
    color: white;
    cursor: pointer;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background-color: darkblue;
}
form input[type="submit"]{
    margin: 10px 0;
}
.custom-footer {
    background-color: #f9f9f9;
    color: #333;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #ccc;
    margin-top: 20px;
}

.semantic-footer {
    background-color: blueviolet;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 1px solid #555;
    margin-top: 20px;
}
ol, ul {
    padding-left: 20px;
}